<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="footer">
        <div class="upper-container">
            <div class="left"><span>EZY FOODS</span></div>
            <div class="right">
                <a href="#"><img src="../Assets/logos/fb.png"/></a>
                <a href="#"><img src="../Assets/logos/tw.png"/></a>
                <a href="#"><img src="../Assets/logos/ld.png"/></a>
                
            </div>
        </div>
        <hr class="line">
        <div class="bottom-container">
            <p class="copyright">© 2021 Company, Inc</p>
        </div>
    </div>
</body>
</html>
    